
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>
    <!--

    TemplateMo 548 Training Studio

    https://templatemo.com/tm-548-training-studio

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/fitnessWeb/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/fitnessWeb/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/fitnessWeb/assets/css/templatemo-training-studio.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">SAMTraining<em> Studio</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Classes</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Free Programs</a></li>
                            <li class="scroll-to-section"><a href="#trainers">Trainers</a></li>
                            <li class="scroll-to-section">
                                <a href="@Url.Action("Index", "Login")">Admin</a>
                            </li>
                            <li class="main-button"><a href="#">Sign Up</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="~/fitnessWeb/assets/images/gym-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>work harder, get stronger</h6>
                <h2>easy with our <em>gym</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Become a member</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Private Programs Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Choose <em>Program</em></h2>
                        <img src="~/fitnessWeb/assets/images/line-dec.png" alt="waves">
                        <p>
                            Size en uygun antrenman programını seçin ve fitness hedeflerinize ulaşmaya hemen başlayın! İster kilo verme, ister güçlenme veya esneklik kazanmaya odaklanın, ihtiyacınıza göre tasarlanmış programlarımızla yanınızdayız.
                        </p>
                    </div>
                </div>
                @Html.Action("PrivateProgram", "MainPage")
            </div>
        </div>
    </section>
    <!-- ***** Private Programs End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                        <p>"Hayalinizdeki form için ilk adımı şimdi atın, bizimle başarın!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Group Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Classes</em></h2>
                        <img src="~/fitnessWeb/assets/images/line-dec.png" alt="">
                        <p>Sınıf derslerimizle grup enerjisinden güç alarak spor yapın! Deneyimli eğitmenler eşliğinde, motive edici ve eğlenceli antrenmanlarla formunuzu koruyun.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
                @Html.Action("GroupClass", "MainPage")
            </div>
        </div>
    </section>
    <!-- ***** Group Classes End ***** -->
    <!-- ***** Free Programs Start ***** -->
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Free <em>Programs</em></h2>
                        <img src="~/fitnessWeb/assets/images/line-dec.png" alt="">
                        <p>Ücretsiz antrenman programlarımızla fitness yolculuğunuza hemen başlayın! Her seviyeye uygun, uzmanlarımız tarafından hazırlanan programlarla hedeflerinize kolayca ulaşın.</p>
                    </div>
                </div>
            </div>
            <!-- Üç adet yan yana blok -->
            <div class="row program-cards">
                @Html.Action("FreeProgram", "MainPage")
            </div>
        </div>
    </section>
    <!-- ***** Free Programs End ***** -->

    <!-- ***** Trainers Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div>
                        <div class="section-heading">
                            <h2>Expert <em>Trainers</em></h2>
                            <img src="~/fitnessWeb/assets/images/line-dec.png" alt="">
                            <p>Spor salonumuzun deneyimli antrenörleri, fitness hedeflerinize ulaşmanız için sizi en iyi şekilde yönlendirmek üzere burada. Kişisel antrenman programlarıyla güçlü ve sağlıklı bir yaşam tarzına adım atın!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                @Html.Action("Trainer", "MainPage")

            </div>
        </div>
    </section>
    <!-- ***** Trainers Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; 2020 Training Studio

                        - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a><br>

                        Distributed by <a rel="nofollow" href="https://themewagon.com" class="tm-text-link" target="_blank">ThemeWagon</a>

                    </p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/fitnessWeb/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/fitnessWeb/assets/js/popper.js"></script>
    <script src="~/fitnessWeb/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/fitnessWeb/assets/js/scrollreveal.min.js"></script>
    <script src="~/fitnessWeb/assets/js/waypoints.min.js"></script>
    <script src="~/fitnessWeb/assets/js/jquery.counterup.min.js"></script>
    <script src="~/fitnessWeb/assets/js/imgfix.min.js"></script>
    <script src="~/fitnessWeb/assets/js/mixitup.js"></script>
    <script src="~/fitnessWeb/assets/js/accordions.js"></script>
    <script src="~/fitnessWeb/assets/js/groupclass.js"></script>


    <!-- Global Init -->
    <script src="~/fitnessWeb/assets/js/custom.js"></script>

</body>
</html>